/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: lightseagreen;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: orange;
  border-radius: 10px;
}

.link-container a {
  margin-right: 20px;
}

.post-container {
  padding-bottom: 50px;
}

.post-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgb(75, 183, 111);
  border-radius: 10px;
}
